body 
{ 
  background: url("../images/background/limbo3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.anotherTry
{
	float: left;
	margin-top: 50px;
	margin-left: 40px;
}

#endingHanged
{
	border-radius: 5px;
	width: 50%;
}

#ending
{
	text-align: center;
}

#escaped
{
	border-radius: 5px;
	width: 50%;
	margin-bottom: 50px;
}

#title
{
	text-align: center;
	width: 25%;
}

#boton
{
	font-family: cursive;
	color: #8a0707;
}

#word
{
	font-size: 50px;
	color: #8a0707;
}

#footer
{
	clear: both;
    bottom:0;
	text-align: center;
	height: 65px;
    width: 100%;
}

#winLoose
{
	font-size: 20px;
	font-weight: 900;
	font-family: cursive;
	text-align: center;
	color: #490e0e;
	margin-top: 30px;
	margin-bottom: 30px;
}

#category
{
	font-family: cursive;
	text-align: center;
	color: #490e0e;
}

#pic
{
	width: 90%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.btn-default
{
	border-radius: 10px;
}

.footer
{
	clear: both;
	text-align: center;
}

#reset
{
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
}

#title2
{
	height: 7%;
	width: 7%;	
}

.buttonMargin
{
	margin-right: 10px;
	margin-bottom: 5px;
	color: black;
	background-color: grey;
	border-radius: 5px;
}